<header>
  <div class="header-area ">
      <div id="sticky-header" class="main-header-area">
          <div class="container-fluid">
              <div class="header_bottom_border">
                  <div class="row align-items-center">
                      <div class="col-xl-2 col-lg-2">
                          <div class="logo">
                              <a href="/">
                                  <img src="/images/logo.png" alt="">
                              </a>
                          </div>
                      </div>
                      <div class="col-xl-7 col-lg-7">
                          <div class="main-menu  d-none d-lg-block">
                              <nav>
                                  <ul id="navigation">
                                      <li><a class="active" href="/">Home</a></li>
                                      <li><a href="/upcomingtrips">Upcoming<i class="ti-angle-down"></i></a>
                                      </li>
                                      <li><a class="destination-link">Tour Packages <i class="ti-angle-down"></i></a>
                                          <ul class="submenu">
                                              <li><a href="/filters/Gujarat">Gujarat </a></li>
                                              <li><a href="/filters/Maharashtra">Maharashtra </a></li>
                                              <li><a href="/filters/Himalayan">Himalayas </a></li>
                                              <li><a href="/filters/Rajasthan">Rajasthan </a></li>
                                              <li><a href="/filters/North-East">North-East </a></li>
                                              <li><a href="/filters/South-India">South-India </a></li>
                                          </ul>
                                      </li>
                                      <li><a href="/accomodation">accomodation</a></li>
                                      <li><a class="destination-link">More<i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                          <li><a href="/blog">Travel Stories</a></li>
                                          <li><a href="/about">About</a></li>
                                          <li><a href="/contact">Contact</a></li>
                                        </ul>
                                      </li>
                                      <% if(profile?.email || accessToken) { %>
                                        <li><i class="fa fa-user-o fa-sm"></i>&nbsp;<a class="destination-link">
                                          <%= profile?.name || profile?.email || Buffer.from(accessToken.split('.')[1], 'base64').toString() %>
                                      </a>
                                      <ul class="submenu">
                                          <% if(profile?.email===process.env.GMAIL_ADMIN) { %>
                                              <li><a href="/admin/login">Admin</a></li>
                                              <% } %>
                                                  <!-- <li><a href="/profile">Profile</a></li> -->
                                                  <li><a href="/mytrips">My Trips</a></li>
                                                  <!-- <li><a href="/logout">Sign Out</a></li> -->
                                                  <li>
                                                      <form id="my_form" action="/logout" method="post">
                                                          <!-- <a href="#" type="submit">Sign Out</a> -->
                                                          <!-- <button class="btn btn-light" type="submit"><a>Sign out</a></button> -->
                                                      <a href="javascript:{}" onclick="signout(accessTokens)">Sign Out</a>
                                                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                      </form>
                                                  </li>
                                      </ul>
                                  </li>
                                        <%} else { %>
                                          <!-- <li>
                                            <button class="btn btn-sm btn-primary"><a href="/login/federated/google" style="color: white;">SignIn with Google</a></button>
                                          </li> -->
                                          <li>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                              Sign In
                                            </button>
                                          </li>
                                        <% } %> 
                                  </ul>
                              </nav>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                          <div class="social_wrap d-flex align-items-center justify-content-end">
                              <div class="number">
                                  <p>+91 851111 7891</p>
                              </div>
                              <div class="social_links d-none d-xl-block">
                                  <ul>
                                      <li><a href="https://www.instagram.com/dejavutours/" target="_blank" rel="nofollow noopener"> <i class="fa fa-instagram"></i> </a></li>
                                      <li><a href="https://www.youtube.com/watch?v=56-u7Pv-cQg" target="_blank" rel="nofollow noopener"> <i class="fa fa-youtube-play"></i> </a></li>
                                      <li><a href="https://www.facebook.com/dejavutours.in" target="_blank" rel="nofollow noopener"> <i class="fa fa-facebook"></i> </a></li>
                                      <!-- <li><a href="https://twitter.com/dejavutours_in" target="_blank" rel="nofollow noopener"> <i class="fa fa-twitter"></i> </a></li> -->
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="seach_icon">
                          <a data-toggle="modal" data-target="#exampleModalCenter" href="#">
                              <i class="fa fa-search"></i>
                          </a>
                      </div>
                      <div class="col-12">
                          <div class="mobile_menu d-block d-lg-none"></div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row">
        <div class="col"> 
          <button class="btn">
          <a href="/login/federated/google"><img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4="> Sign in with Google</a>
          </button>
        </div>
        <div class="col">
          <button class="btn btn-primary" >
            Sign In With Phone OTP
          </button>
        </div>
       </div>
       <form id="getotp">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="form-group mt-2">
            <label for="phone">Phone Number</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Phone Number">
          </div>
          <button type="submit" class="btn btn-primary">GET OTP</button>
        </form>
        <form id="verifyotp" style="display: none;">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="form-group mt-2">
            <label for="otp">OTP</label>
            <input type="hidden" class="form-control" id="phone2" name="phone2" placeholder="Enter Phone Number">
            <input type="number" class="form-control" id="otp" name="otp" placeholder="Enter OTP">
          </div>
          <button type="submit"class="btn btn-primary">Verify OTP</button>
        </form>
      </div>
    </div>
  </div>
</div>
</header>
<!-- header-end -->
 <script>
  async function  signout(accessToken){
    if(accessToken){
      sessionStorage.removeItem('accessToken');
      // cookies.remove({name: 'accessToken'}).then((data=> console.log('cookiedata', data)));
      cookieStore.getAll().then(p => p.forEach(c => cookieStore.delete(c)));
      if (caches) {
  const names = await caches.keys();
  await Promise.all(names.map(name => caches.delete(name)));
}
window.location.reload();
    }else{
      document.getElementById('my_form').submit();
    }
  }
 </script>
<script>
  var accessTokens = '<%= accessToken %>';
document.getElementById('getotp').addEventListener('submit', function(event) {
  event.preventDefault(); // Prevent the default form submission
  // Serialize the form data
  var formData = new FormData(this);
  // Fetch request
  document.getElementById('phone2').value = document.getElementById('phone').value;
  fetch('/getotp', {
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    // Handle response from server
    if(data){
    document.getElementById("getotp").style.display = "none";
    document.getElementById("verifyotp").style.display = "block";
    }
  })
  .catch(error => {
    // Handle errors
    console.log('Error:', error);
  });
});
</script>
<script>
  document.getElementById('verifyotp').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the default form submission
    // Serialize the form data
    var formData = new FormData(this);
    // Fetch request
    // document.getElementById('phone2').value = document.getElementById('phone').value;
    fetch('/verifyotp', {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      // Handle response from server
      if(data){
      // console.log('token',data.accessToken);
      sessionStorage.setItem('accessToken', data.accessToken);
      // console.log(atob(data.accessToken.split('.')[1]));
      document.cookie = `accessToken=${data.accessToken}`;
      window.location.href = "/";
      }
    })
    .catch(error => {
      // Handle errors
      console.log('Error:', error);
    });
  });
  </script>
<style>
  * {
    box-sizing: border-box;
  }
  
  body {
    font: 16px Arial;  
  }
  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
  </style>
<!-- Modal -->
<div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="serch_form">
          <form action="/search/trip" method="POST">
            <input type="text" placeholder="Search" autocomplete="off" id="SearchTrip" name="SearchTrip" >
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit">search</button>
          </form>
      </div>
    </div>
  </div>
</div>
<script>
  function autocomplete(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function(e) {
        var a, b, i, val = this.value;
        /*close any already open lists of autocompleted values*/
        closeAllLists();
        if (!val) { return false;}
        currentFocus = -1;
        /*create a DIV element that will contain the items (values):*/
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        /*append the DIV element as a child of the autocomplete container:*/
        this.parentNode.appendChild(a);
        /*for each item in the array...*/
        for (i = 0; i < arr.length; i++) {
          /*check if the item starts with the same letters as the text field value:*/
          if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            /*create a DIV element for each matching element:*/
            b = document.createElement("DIV");
            /*make the matching letters bold:*/
            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
            b.innerHTML += arr[i].substr(val.length);
            /*insert a input field that will hold the current array item's value:*/
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            /*execute a function when someone clicks on the item value (DIV element):*/
            b.addEventListener("click", function(e) {
                /*insert the value for the autocomplete text field:*/
                inp.value = this.getElementsByTagName("input")[0].value;
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists();
            });
            a.appendChild(b);
          }
        }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function(e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
          /*If the arrow DOWN key is pressed,
          increase the currentFocus variable:*/
          currentFocus++;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 38) { //up
          /*If the arrow UP key is pressed,
          decrease the currentFocus variable:*/
          currentFocus--;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 13) {
          /*If the ENTER key is pressed, prevent the form from being submitted,*/
          e.preventDefault();
          if (currentFocus > -1) {
            /*and simulate a click on the "active" item:*/
            if (x) x[currentFocus].click();
          }
        }
    });
    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false;
      /*start by removing the "active" class on all items:*/
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }
    function closeAllLists(elmnt) {
      /*close all autocomplete lists in the document,
      except the one passed as an argument:*/
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
  }

 var countries = <%-JSON.stringify(test) %> ;
  autocomplete(document.getElementById("SearchTrip"), countries);
  </script>
