<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/select2/select2.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Dejavu Tours Details</title>
</head>

<body class="bg-light text-dark">

    <h1 class="text-primary">
        <center>
            Dejavu Tours&Treks : Edit Trip Details For PDF
        </center>
    </h1>
 


    <form action="/admin/updatetrip" method="POST" enctype="multipart/form-data">

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="_id" value="<%= tripdetails._id %>">

        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="trip_title">Trip Title</label>
                        <input type="text" name="trip_title"  class="form-control" id="trip_title" value="<%= tripdetails.title %>" placeholder="Title">
                    </div>
                </div>
            </div>
            <hr>
                <!-- Custom Trip Details 
            <div class="row">
                <p><h5>Custom Trip Fields</h5></p>
            </div> -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="guest_name">Guest Name</label>
                        <input type="text" name="guest_name"  class="form-control" value="<%= tripdetails.guest_name %>" id="guest_name" placeholder="Guest Name">
                    </div>
                </div>
                <div class="col-sm-4">    
                    <div class="form-group">
                        <label for="guest_contact">Contact</label>
                        <input type="text" name="guest_contact"  class="form-control" value="<%= tripdetails.guest_contact %>" id="guest_contact" placeholder="Contact">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="travel_date">Travel Date</label>
                        <div class="input-group">
                            <input type="text" name="travel_date" value="<%= tripdetails.travel_date %>" class="form-control float-right" id="reservation">
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="guest_adult">Adult</label>
                        <input type="text" name="guest_adult"  class="form-control"  value="<%= tripdetails.guest_adult %>" id="guest_adult" placeholder="Adult">
                    </div>
                </div>
                <div class="col-sm-4">    
                    <div class="form-group">
                        <label for="guest_child">Child</label>
                        <input type="text" name="guest_child"  class="form-control" value="<%= tripdetails.guest_child %>" id="guest_child" placeholder="Child">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="guest_infant">Infant</label>
                        <input type="text" name="guest_infant"  class="form-control" value="<%= tripdetails.guest_infant %>" id="guest_infant" placeholder="Infant">
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="guest_rooms">Number Of Rooms</label>
                        <input type="text" name="guest_rooms"  class="form-control" value="<%= tripdetails.guest_rooms %>" id="guest_rooms" placeholder="Number Of Rooms">
                    </div>
                </div>
                <div class="col-sm-4">    
                    <div class="form-group">
                        <label for="guest_meals">Meals</label>
                        <input type="text" name="guest_meals"  class="form-control" value="<%= tripdetails.guest_meals %>" id="guest_meals" placeholder="Meals">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="vehicle">Vehicle</label>
                        <input type="text" name="vehicle"  class="form-control" value="<%= tripdetails.vehicle %>" id="vehicle" placeholder="Vehicle">
                    </div>
                </div>
                
            </div>

            <hr>
                <!-- Custom Trip Details End -->
            <hr>

            <div  class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="route">Route</label>
                        <input type="text" name="route"  class="form-control" value="<%= tripdetails.route %>" id="route" placeholder="Route">
                    </div>
                </div>
            </div>
            

            <div class="row">
                <%
                    let months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Nov','Dec'];
                    let month = tripdetails.month.split(',');
                %>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Select Month</label>
                        <select class="select2" name="month[]" multiple="multiple" data-placeholder="Select Month" style="width: 100%;">
                            <% for (var i = 0; i < months.length; i++) { 
                                var sel = '';
                                if( (month.find((element) => element == months[i] ))){
                                    sel = "selected = 'selected'"; 
                                   }     
                            %>
                                <option value="<%= months[i] %>" <%= sel %>><%= months[i] %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
              <% let states_arrrr = states_arr  
              let state = tripdetails.deptstate.split(',');
              %>
                    <div class="form-group">
                        <label>Departure State</label>
                        <select class="form-control select2bs4" name="state" id="state" onchange="return getcities();" data-placeholder="Select a State" style="width: 100%;">
                        <option value="<%= tripdetails.state %>" selected><%= tripdetails.state %></option>
                            <% for (var i = 0; i < states_arr.length; i++) { 
                                var sel = '';
                                if( (state.find((element) => element == states_arr[i] ))){
                                    sel = "selected = 'selected'"; 
                                   }  
                            %>
                                <option value="<%= states_arr[i] %>" <%= sel %>><%= states_arr[i] %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <%
                    let city = tripdetails.deptcity.split(',');
                    %>
                    <div class="form-group">
                        <label>Departure City</label>
                        <select class="select2" name="deptcity[]" value="<%= tripdetails.deptcity %>"  multiple="multiple" id="deptcity" data-placeholder="Select City" style="width: 100%;">
                            <% for (var i = 0; i < city.length; i++) { 
                            
                                %>
                            <option value="<%= city[i] %>" selected><%= city[i] %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row">
                <%   let triptypes = ['Winter','Monsoon','Trekking','Camping','Backpacking','Offbeat','Sightseeing','Safari','Wildlife','Heritage','Himalaya','Sahyadri','Spiritual','Student','Family','Couple','Solo','Summer','Festival','Expedition'];
                    let trip_type = tripdetails.trip_type.split(',');
                %>  
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Select Trip Type</label>
                        <select class="select2" name="trip_type[]" multiple="multiple" data-placeholder="Trip Type" style="width: 100%;">
                            <% for (var i = 0; i < triptypes.length; i++) { 
                                var sel = '';
                                if( (trip_type.find((element) => element == triptypes[i] ))){
                                 sel = "selected = 'selected'"; 
                                }  
                            %>
                                <option value="<%= triptypes[i] %>" <%= sel %>> <%= triptypes[i]%></option>
                            <% }
                            sel = "";
                            %>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <%   
                    var tripsize =  (tripdetails.tripsize != undefined && tripdetails.tripsize != '') ? tripdetails.tripsize.split("-") : '';
                
                     %>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Min Batch Size</label>
                            <input type="number" min=0 value="<%= tripsize[0] %>" name="minsize"   class="form-control" id="minsize">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Max Batch Size</label>
                            <input type="number" min=0 value="<%= tripsize[0] %>" name="maxsize"  class="form-control" id="maxsize">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <%   
                    var duration =  tripdetails.duration.split("-");
                
                     %>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Days</label>
                            <input type="number" min=0 value="<%= duration[0] %>" name="tripdays"  class="form-control" id="tripdays">
                            
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Night</label>
                            <input type="number" min=0 value="<%= duration[1] %>" name="tripnight"  class="form-control" id="tripnight">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Max Altitude</label>
                        <input type="number" min=0 name="maxalt" value="<%= tripdetails.altitude %>"  class="form-control" id="maxalt" >
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Trek Distance</label>
                        <input type="number" min=0 name="trek_dist" value="<%= tripdetails.distance %>" class="form-control" id="trek_dist" >
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Difficulty</label>
                        <input type="text" min=0 name="difficulty"  value="<%= tripdetails.difficulty %>" class="form-control" id="difficulty" >
                    </div>
                </div>
            
            </div>
            <div class="row">
                <%   
                    var age_grp =  tripdetails.age_grp.split("-");
                
                %>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Age Group Min</label>
                            <input type="number" min=0 value= "<%= age_grp[0] %>" name="age_min"  class="form-control" id="age_min">
                            
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Age Group Max</label>
                            <input type="number" min=0 value= "<%= age_grp[1] %>" name="age_max"  class="form-control" id="age_max">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                <%  let statesss = states_arr; 
                %> 
                    <div class="form-group">
                        <label>Select Region State</label>
                        <select class="form-control select2bs4" name="regionstate" id="regionstate"  data-placeholder="Select a State" style="width: 100%;">
                        <option value="">Select State</option>
                            <% for (var i = 0; i < statesss.length; i++) {
                                var sel = '';
                                if( tripdetails.region_state == statesss[i] ){
                                    sel = "selected = 'selected'"; 
                                }    
                            %>
                                <option value="<%= statesss[i] %>" <%= sel %>><%= statesss[i] %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <%  let regions = regions_arr; %> 
                    <div class="form-group">
                        <label>Select Region</label>
                        <select class="form-control select2bs4" name="region"  data-placeholder="Select Region" style="width: 100%;">
                                    <option value="">Select Region</option>
                            <% for (var region of regions) { 
                                var sel = '';
                                if( tripdetails.region_code == region.code ){
                                    sel = "selected = 'selected'"; 
                                } 

                            %>
                                <option value="<%= region.code %>" <%= sel %>><%= region.code_name %></option>
                                <% } %>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="trip_dates">Add Dates:</label>
                        <input class="form-control"  name="trip_dates" value="<%= tripdetails.trip_dates %>" placeholder="Enter Trip Dates"></input>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="about_trip">About Trip:</label>
                        <textarea class="form-control" rows="3" name="about_trip" placeholder="Enter About Trip"><%= tripdetails.about %></textarea>
                    </div>
                </div>
            </div>

           
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group detail_info" id="detail_info">
                        <%
                       // tripdetails.short_itinerary = "Day 1: Arrival Chandigarh & Chandigarh to Shimla (113km/4hrs),Day 1: Arrival Chandigarh & Chandigarh to Shimla (113km/4hrs),Day 1: Arrival Chandigarh & Chandigarh to Shimla (113km/4hrs)";
                            var short_details = tripdetails.short_itinerary.split(",");
                            var all_details = tripdetails.itinerary.split(",");
                            var stay = tripdetails.stay.split(",");
                            var meals = tripdetails.meals.split(",");
                            var drop_point = tripdetails.drop_point.split(",");
                            var pickup = tripdetails.pickup.split(",");
                            var dept_time = tripdetails.dept_time.split(",");
                            var trek_dist = tripdetails.trek_dist.split(",");
                            var drop_time = tripdetails.drop_time.split(",");
                            var road_jrn = tripdetails.road_jrn.split(",");

                            short_details.forEach(function(val,index) {
                        %>
                        <div class="detailedinfos detailinfo" id="detailinfo"><br/>
                            <p><input type="text" name="short_itinery[]" id="short_itinery"  value="<%= val %>" style="width:100%" placeholder="Add Title"/></input></p>
                            <textarea class="form-control" rows="3" name="detailed_itinery[]" placeholder="Add Details"><%= all_details[index] %></textarea><br/>
                            <input class="form-control extra_details" value="<%= (stay[index] != '') ? stay[index] : '' %>"  name="stay[]" placeholder="Enter Stay"></input>
                            <input class="form-control extra_details"  value="<%= (meals[index] != '') ? meals[index] : '' %>" name="meals[]" placeholder="Enter Meals"></input>
                            <input class="form-control extra_details" value="<%= (drop_point[index] != '') ? drop_point[index] : '' %>"  name="drop_point[]" placeholder="Enter drop point"></input>
                            <input class="form-control extra_details"  value="<%= (pickup[index] != '') ? pickup[index] : '' %>" name="pickup[]" placeholder="Enter pickup"></input>
                            <input class="form-control extra_details"  value="<%= dept_time[index] %>" name="dep_time[]" placeholder="Enter departure time"></input>
                            <input class="form-control extra_details" value="<%= trek_dist[index] %>" name="trek_dist2[]" placeholder="Enter trek distance"></input>
                            <input class="form-control extra_details" value="<%= road_jrn[index] %>" name="road_journey[]" placeholder="Enter road journey"></input>
                            <input class="form-control extra_details" value="<%= drop_time[index] %>" name="drop_time[]" placeholder="Enter drop time"></input>
                            <input type="button" id="details" value="DELETE" onclick="return deldetails(this)" class="btn btn-primary"/>
                            <br/>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            <br/> 
            <input type="button" class="btn btn-primary" onclick="return addInfo()" value="Add Details">
            <br/>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inclusion">Inclusion</label>
                        <textarea class="form-control" rows="3" name="inclusion" placeholder="Enter"><%= tripdetails.inclusion %></textarea>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exclusion">Exclusion</label>
                        <textarea class="form-control" rows="3" name="exclusion" placeholder="Enter"><%= tripdetails.exclusion %></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                        
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="add_trip_cost">Additional Package Details</label>
                        <textarea class="form-control" rows="3" name="add_trip_cost" placeholder="Enter"><%= tripdetails.package_details %></textarea>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="act_attr">Activities & Attraction</label>
                        <textarea class="form-control" rows="3" name="act_attr" placeholder="Enter"><%= tripdetails.activities %></textarea>
                    </div>
                </div>
            </div>

            <div class="parent" id="extra_package_cost">
                <div class="row parent package_costss">
                    <div class="col-sm-12 ">
                        <%
                            var avail_days = tripdetails.available_days.split(",");
                            var avail_from = (tripdetails.available_from != undefined && tripdetails.available_from != '') ? tripdetails.available_from.split(",") : [];
                            var avail_cost = tripdetails.cost.split(",");
                            avail_from.forEach(function(val,index) {
                        %>
                        <div class="form-group maindiv" id="demo"><br/>
                            <label for="trip_cost">Package Cost</label></br>
                            <input class="form-control package_details" name="available_from[]" value="<%= val %>"  placeholder="Enter Available From"></input>
                            <input class="form-control package_details"  name="available_days[]" value="<%= avail_days[index] %>" placeholder="Enter Avaiable Days"></input>
                            <input class="form-control package_details"  name="costing[]"  value="<%= avail_cost[index] %>" placeholder="Enter Cost"></input>
                            <input type="button" id="delbtn" value="DELETE" onclick="return delrow(this)" class="btn btn-primary"/>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            <br/>
            <input type="button" value="Add Package Row" onclick="return addrow(1)" class="btn btn-primary"/>
            <br/>
            <div class="row">
                <div class="form-group">
                    <label>Filename (Add only name)</label>
                    <input type="text" name="filename"  class="form-control" value="<%= tripdetails.filename %>" id="filename" >
                </div>
            </div> 
            <br/>
            <div class="row">
                <div class="container-fluid">
                    <div class="col-sm-6">
                        <label for="imageurlmain" class="form-label">Upload Images</label><br>
                        <input type="file" accept="image/*" name="image" id="image" enctype="multipart/form-data" multiple >                               
                    </div>
                    <div class="col-sm-6">
                        <label for="uploadedimgs" class="form-label">Uploaded Images</label><br>
                                                 
                        <%
                            if(tripdetails.imageurl != undefined && tripdetails.imageurl != ''){
                                let imgs = tripdetails.imageurl.split(","); 
                                imgs.forEach(function(val,index) {
                        %>
                        <div class="imgdiv">
                            <input type="hidden" name="imgu" id="imgu" value="<%= val %>">    
                            <img src="/images/<%= val %>" name="imgu" alt="<%= val %>" value="<%= val %>" class="uploadedimgs" height="95">
                            <a href="javascript:void(0)" onclick="return removeimg(this);"><span>remove</span></a>&nbsp;&nbsp;&nbsp;
                        </div>
                        
                        <% }); } %>
                    </div>
                </div>
            </div>

            
            <div class="card-footer">
                <button type="submit" class="btn btn-primary" name="submit" value="saveedittrip"><i class="fas fa-download"></i>Save Details</button>
                <button type="submit" class="btn btn-primary" name="submit" value="edittrip"><i class="fas fa-download"></i>Save & Generate PDF</button>
                <button class="btn btn-warning"><a href="/admin/getViewPdfdetails %>">GO Back <i class="fa fa-arrow"></i></a></button>
            </div>
        </div>   
     
    
    </form>
    
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/select2/select2.min.js"></script>

<script>
    $(function () {
   //Initialize Select2 Elements
       $('.select2').select2();
       //Initialize Select2 Elements
       $('.select2bs4').select2({
       theme: 'bootstrap4'
       })
    });

    function removeimg(obj){
        obj.closest('.imgdiv').remove();
    }

    function addInfo(){
        const node = document.getElementById("detailinfo");
        const clone = node.cloneNode(true);
        $('.detail_info').append(clone);
   }

   function deldetails(obj){
    obj.closest("#detailinfo").remove();
    //$('#detail_info .detailinfo ').last('.detailinfo').remove();
   }

  
   function addrow(){
        const node = document.getElementById("demo");
        const clone = node.cloneNode(true);
        //var tt = '<input type="button" id="delbtn" value="DELETE" onclick="return delrow(this)" class="btn btn-primary"/>';
        $('.package_costss').append(clone);//.append(tt);
   }

   function delrow(obj){
        if($('#extra_package_cost .package_costss .maindiv').length == 2){
           // $('#delbtn').remove();
        }
        obj.closest("#demo").remove();
        //$('#extra_package_cost .package_costss .maindiv ').last('.maindiv').remove();
   }


   image.onchange = evt => {
       const file = image.files
       var images = '';
       jQuery.each( file, function( key, value ) {
           images += ' | '+value.name +' | ';
       });
       $('#uploaded_images').html(images)
      // if (file) {//blah.src = URL.createObjectURL(file) }
   }

    function getcities(){
       var state = $('#state').val();
      $.ajax({
            url: "/getstateCities",
            type:'POST',
            data:{'_csrf':"<%= csrfToken %>",state:state},
            success: function(result){
                var city = '';
                jQuery.each(result, function( key, value ) {
                    value.forEach((value2,index,arr)=>{
                        city += "<option value="+value2+">"+value2+"</option>";
                    }); 
                });
                $('#deptcity').append(city);

            }
        });
     
    }
</script>
</body>
</html>